html
    head
        title!= title
    body
        div
            button.excel excel

        div
            label 模板
            textarea.template

        div
            label 邮箱
            input.email
            label 密码
            input.password

        div
            button.template 提交模板

    script(src='/static/jquery/dist/jquery.js')
    script(src='/static/index.js')
