html
    head
        title!= title
    body
        div
            input.input
        div
            button.excel excel
        div
            button.tmp tmp

    script(src='/static/jquery/dist/jquery.js')
    script(src='/static/index.js')
