.main-title {
    text-align: center;
}

.align-right {
    -ms-text-align-last: right;
    text-align-last: right;
}

.hidden-div {
    display: none;
}

.label {
    font-size: 26px;
    color: #000;
    position: relative;
}

.preview-content {
    min-height: 300px;
}

.defeat {
    display: none;
}

.manual-input-smtp {
    display: none;
}

.icon-tips {
    vertical-align: middle;
}

.tips-wrap {
    overflow: hidden;
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.tips {
    transform: translateX(-100%);
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
    background: #333;
    transition: all 0.3s ease;
}