.p-padding-tb {
    padding: 100px 0;
}

.align-right {
    -ms-text-align-last: right;
    text-align-last: right;
}

.hidden-div {
    //display: none; // todo del
}

.label {
    font-size: 26px;
    color: #000;
}

.preview-content {
    min-height: 300px;
}

.defeat {
    display: none;
}